extend base

//{% load crispy_forms_tags %}

block title
    title Declaración Jurada

block content
    h1.title Declaración Jurada

    .container
        form(action='.', method='post')
            {{ form }}
            {% csrf_token %}
            input(type='submit') Guardar
//          {% crispy form %}