extend base

block title
    title Personas

block content
    h1.title Personas

    table.table.table-stripped
        thead
            tr
                th Nombre
        tbody
            tr
                each person in person_list
                    td= person.name
